Quart
discord
uvicorn
jishaku==2.6.0
asyncio
aiohttp
datetime
flask
typing
fastapi
psutil
collection
pathlib
pymongo
httpx
discord.ext-context
tasksio
motor
Augmentor
numpy
aiosqlite
wavelink>=3.0.0
gtts
langdetect
python-dotenv
pyttsx3
PyYAML
requests
openai
duckduckgo-search==6.3.6
colorama
chess
python-dateutil
topggpy
sqlalchemy
Pillow>=10.0.0